alembic==1.4.2
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
blinker==1.4
Bootstrap-Flask==1.2.0
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
charset-normalizer==3.1.0
click==7.1.1
colorama==0.4.6
coverage==5.0.4
decorator==4.4.2
dominate==2.7.0
entrypoints==0.3
Faker==4.0.2
filetype==1.2.0
flake8==3.7.9
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.3
Flask-DebugToolbar==0.11.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
flask-whooshee==0.8.2
Flask-WTF==0.14.3
greenlet==2.0.2
idna==3.4
imageio==2.26.0
imageio-ffmpeg==0.4.8
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.1
Mako==1.1.2
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==1.0.3
numpy==1.24.2
pathtools==0.1.2
Pillow==9.4.0
proglog==0.1.10
progress==1.6
pycodestyle @ file:///C:/b/abs_d77nxvklcq/croot/pycodestyle_1674267231034/work
pyflakes==2.1.1
pymediainfo==6.0.1
python-dateutil==2.8.1
python-dotenv==0.12.0
python-editor==1.0.4
requests==2.28.2
six==1.14.0
SQLAlchemy==1.3.15
text-unidecode==1.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.15
visitor==0.1.3
watchdog==0.10.2
Werkzeug==1.0.1
Whoosh==2.7.4
wincertstore==0.2
WTForms==2.2.1

flask_cors