{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
 

{% block page_content %}
 
<!-- 搜索栏 -->
<div>
     <!--示例 {{ wtf.quick_form(form, id='loginform', action='/login', form_type='horizontal', horizontal_columns=('lg',4,4)) }} -->
    {%if form%}
    {{ wtf.quick_form(form ) }}
    {%endif%}
    <br>
</div>

 <div class="list">
    {% for post in posts %}
    <h3>

        {{ post.path }} 
    </h3>

        <a href="/add/{{post.id}}?op=add" class="btn btn-primary">添加新文件</a>
        <a href="/add/{{post.id}}?op=del"  class="btn btn-primary">标记不存在文件</a>
    <hr>
    {% endfor %}
    
 </div>
{% endblock %}
