{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href= {{ url_for('static', filename='favicon.ico') }}  type="image/x-icon">
<link rel="icon" href= {{ url_for('static', filename='favicon.ico') }}  type="image/x-icon">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> -->
<link rel="stylesheet"
href="{{ url_for('static', filename='css/%s.min.css' % request.cookies.get('theme', 'perfect_blue')) }}"
type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

<!-- <link href= {{ url_for('static', filename='bootstrap.min.css') }}  rel="stylesheet"> -->
<link href= {{ url_for('static', filename='control.css') }}  rel="stylesheet">
{% endblock %}

 
{% block navbar %}
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"> <a href="/" class="nav-link  ">首页 </a>  </li>
    <li class="nav-item"> <a href="/keep" class="nav-link">继续浏览  </a>  </li>
    <li class="nav-item">  <a href="/log" class="nav-link" target="_blank">历史记录</a> </li>
    <li class="nav-item">  <a href="/add" class="nav-link">添加文件夹</a> </li>
  </ul>
</header>
{% endblock %}
 

{% block content %}
<!-- flash消息 -->
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <!-- 页面内容 -->
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
 

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
<script src={{ url_for('static', filename='control.js') }}></script>
{% endblock %}
