{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{post.vname}}-{{post.ctime}}{% endblock %}
{% block head %}
{{ super() }}

<style>
    /* html, body {
  overflow-x: hidden;
} */

    video {
        width: 100%;
        max-height: 90vh;
    }

    .file {
        width: 100%;


    }

    #info {
        position: relative;
    }
</style>
{% endblock %}

{% block page_content %}

<!-- 文件添加信息 -->
{%if post.tag%}
<h1>like:{{ post.tag.like}} <br> tag:{{post.tag.tag }} </h1>
{% endif%}

<!-- 标题 -->
<div id="src">
    <h1>
        <a href="/file/{{post.id}}?down=1" download="{{post.vname}}" title="下载"> {{post.vname}}</a>
        <a href="/tag/{{post.id}}?tag=del" class="btn btn-primary setdel ajaxLink-status  {% if post.tag and post.tag.tag=='del' %}colorSet{% endif %}" title="delete">
            
            <i class="fas  fa-trash-alt  "></i>
            </a>
        <a href="/tag/{{post.id}}?tag=like"class="btn btn-primary ajaxLink-status setlike {% if post.tag and post.tag.like %}colorSet{% endif %}"
            title="1">
            <i class="fas  fa-heart  "></i>
        </a>
        
        
        <a href="" id="shotvideo" class="btn btn-primary ajaxLink" title="快捷键“0”">
            <i class="fas fa-camera  "></i>
             </a>
    </h1>
    <!-- 源文件 -->
    <div class="file">
        {%if post.type=='music'%}
        <audio id="{{post.id}}" src="/file/{{post.id}}" data-desc="{{post.vname}}" alt="{{post.vname}}"
            preload="metadata"></audio>
        {%elif post.type=='video'%}

        <video src="/file/{{post.id}}" id='play' title="方向键跳跃 ctrl加速跳跃" allowfullscreen>
            {% if post.size>1024**3 %}
            <track label="中文" kind="subtitles" srclang="cn" src='/subtitles/{{post.id}}' default>
            {% endif %}

        </video>
        {%elif post.type=='img'%}
        <img src="/file/{{post.id}}" alt={{post.vname}}>
        {%endif %}
    </div>
</div>

{% macro next(id,cla,row,name,href='') -%}
<div class="col-{{row}}">
    <a href="{{href}}" id="{{id}}" class="{{cla}}">{{name}}</a>
</div>
{%- endmacro %}

<div class="conv row">
    <!-- <span id="index" class="display-5">index</span> -->
    {{next('index',"btn btn-primary ",2,'index','/keep')}}
    {{next('next',"btn btn-primary ",2,'下一个')}}
    {{next('prev',"btn btn-primary ",2,'上一个')}}
    {{next('',"btn btn-primary ",5,'play',"/play/"+post.id )}}
    <!-- {{next('shotvideo',"btn btn-primary ajaxLink ",2,'截图')}} -->
</div>
<!-- 截图 -->
<h3>预览画面 点击跳转</h3>
<div class="images-container-preview">
    {% for element in post.pshots %}
    <div class="image-container" data-time="{{element.stime}}">
        <img src="/thumb/{{post.id}}-{{element.stime}}" alt="预览图">
        <div class="text-overlay"> {{element.vtime}} </div>
    </div>
    {% endfor %}
 
<h3>截图画面 点击跳转</h3>
<div class="images-container">
    {% for element in post.shots %}
    <div class="image-container" data-time="{{element.stime}}">
        <img src="/file/{{element.id}}" alt="预览图">
        <div class="text-overlay"> {{element.vtime}} </div>
    </div>
    {% endfor %}

</div>
<!-- 提交 -->
<div class="inputTag">

    {{ wtf.quick_form(form,id="tagForm") }}
</div>
<br>
<div id="info">
    {% if post.dylink %}
    <h3> <a href={{post.dylink}} title="进入抖音视频页" class="dir" target="_blank">抖音链接</a></h3>
    {% endif %}
    <h3>
        {% for k,v in post.infos.items() %}
        {{k}}:{{ v}} <br>
        {% endfor %}
    </h3>
    <h3> <a href="/?dir_num={{post.dirobj.id}}" title="进入目录" class="dir">目录:{{post.dir}}</a></h3>
    <div class="conv">
        <h3>快捷添加tag</h3>
        {% for tag in tags %}
        <a href="/tag/{{post.id}}?tag={{tag}}" class="btn btn-primary ajaxLink">{{tag}}</a>
        {% endfor %}
    </div>
    {% macro rel_cre(id,name) -%}
    <a href="/detail/{{id}}" class="btn btn-primary">
        {{name}}
    </a>
    {%- endmacro %}

    <div class="rel_creation">

    </div>

</div>
<hr>


{% endblock %}

{% block scripts %}
{{super()}}
<script>
    // 定位到元素
    let locNode = document.createElement('a')
    locNode.href = '#src'
    locNode.click()


    // 三次触摸切换到play模式
    ntouchEvent(3, document.querySelector('video'), () => { location.href = '/play/' + id })
    nclickEvent(3, document.querySelector('video'), () => { location.href = '/play/' + id })
    // 读取列表信息
    previewsDict = JSON.parse(localStorage.getItem('preLink'));
    if (previewsDict) {
        previewsList = previewsDict['index']
        previewsDictName = previewsDict['name']
        previewsDictLink = previewsDict['link']
    }
    // 获取文件自动播放 设置id
    let video = document.querySelector('#play')
    video.focus()
    let tagname = video.tagName
    if (tagname === 'VIDEO' || tagname === 'AUDIO') {
        video.play()
        // 播放完自动下一个
        video.addEventListener('ended', () => { next.click() })
    }
    // url参数跳转
    function jumpPlay() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        // 判断是否存在某个参数
        if (urlParams.has('t')) {
            const t = urlParams.get('t');
            video.currentTime = t
        }
    }
    jumpPlay()
    function imgsJump() {
        // 点击图片跳转
        let shots = document.querySelectorAll('.image-container')
        shots.forEach((node) => {
            node.addEventListener('click', (e) => {
                video.currentTime = node.dataset.time
            })
        })

    }
    imgsJump()
    // 高度为一屏幕
    // file.height = window.innerHeight;
    // 获取id
    let id = ReId.exec(location.href)[0]
    let index = previewsList.indexOf(id)

    // 链接
    nlink = '/detail/' + previewsSecureId(index + 1)
    plink = '/detail/' + previewsSecureId(index - 1)


    let next = document.querySelector('#next')
    next.href = nlink
    let prev = document.querySelector('#prev')
    prev.href = plink
    let tip = document.querySelector('#index')
    tip.textContent = index

    // 更新相关作品容器数据
    function updaterel() {
        fetch('/detail/' + id + '?part=rels')  // 发送 GET 请求到 /greeting 路径
            .then(response => response.text())  // 将响应转换成纯文本格式
            .then(text => {
                let old_node = document.querySelector('.rel_creation')
                old_node.innerHTML = text
                // 添加监听器
                imgsJump()
            })  // 更新 <p> 元素的文本内容
            .catch(error => console.error(error));  // 处理请求错误
    }


    // 更新截图容器数据
    function updateshots(id) {
        fetch('/detail/' + id + '?part=shots')  // 发送 GET 请求到 /greeting 路径
            .then(response => response.text())  // 将响应转换成纯文本格式
            .then(text => {
                document.querySelector('.images-container').innerHTML = text
                // 添加监听器
                imgsJump()
            })  // 更新 <p> 元素的文本内容
            .catch(error => console.error(error));  // 处理请求错误
    }
    // 截图
    // 更新链接
    let shotvideo = document.querySelector('#shotvideo')

    // 延迟更新内容
    shotvideo.addEventListener('click', (e) => {
        let url = '/shotset/' + id + '?time=' + Math.floor(video.currentTime)
        fetch(url)  // 发送 GET 请求到 /greeting 路径
            .then(response => response.text())  // 将响应转换成纯文本格式
            .then(text => {
                // 添加监听器
                updateshots(id)
            })  // 更新 <p> 元素的文本内容
            .catch(error => console.error(error));  // 处理请求错误


    })

    // 创建一个新的 IntersectionObserver 对象
    const observer = new IntersectionObserver(entries => {
        // 遍历所有观察状态的条目
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                // 当元素滚动到视图中时执行的操作
                console.log('元素已经出现在视图中！');
                updaterel()
                // 停止观察元素
                observer.unobserve(entry.target);
            }
        });
    });

    // 监听需要观察的元素
    const targetElement = document.querySelector('.rel_creation');
    observer.observe(targetElement);

    // 键盘控制下一个
    deleteA = document.querySelector('.setdel')
    likeA = document.querySelector('.setlike')
    keepA = document.querySelector('.keepList')
    document.addEventListener('keydown', (event) => {
        // ctrl 组合键百分比跳转
        let jumpDistance = 3
        if (event.ctrlKey && (event.key === "ArrowRight" || event.key === "ArrowLeft"))
            jumpDistance = Math.max(video.duration * 0.05, 5)
        // 待输入tag
            if (event.key  === 'Enter' && event.ctrlKey) {
            let t=document.querySelector('.inputTag form input')
            // t.addEventListener('keydown',(e)=>{
            //     e.preventDefault()
            // })
            t.scrollIntoView()
            t.focus()
        }
        switch (event.key) {
            case 'ArrowUp':
                prev.click()
                event.preventDefault()
                break;
            case 'ArrowDown':
                next.click()
                event.preventDefault()
                break;
            case '1':
                shotvideo.click()
                break;
            case '0':
                likeA.click()
                break;
            case 'Delete':
                deleteA.click()
                break;
            case "Escape":
                keepA.click()
                break;
            case "ArrowRight":
                video.currentTime = Math.min(video.currentTime + jumpDistance, video.duration - 3);
                break;
            case "ArrowLeft":
                video.currentTime = Math.max(video.currentTime - jumpDistance, 0);
                break;
            case "`":
                video.currentTime = video.duration / 2
                break;
            case " ":
                // 空格暂停 没在焦点接管
                if (video !== document.activeElement) {
                    video.focus()
                    // event.preventDefault()
                    // video.paused ? video.play() : video.pause();
                }
                break;
        }
       

    })

    // 双击下一个
    nclickEvent(2, video, () => {
        next.click()
    })

    setTitle(index, previewsList.length)

</script>
{% endblock %}