{% extends "base.html" %}
{% block title %}{{post.vname}}-{{post.ctime}}{% endblock %}
{% block page_content %}
 <style>
    video{
        width: 100%;
        object-fit: cover;
    }
 </style>
 <h1>{{post.vname}}</h1>
  <h1>

      <a href="" id="detail">详情页 </a>
  </h1>
  
<div id="play">
    <video src="/file/{{post.id}}"  controls >
</div>
       
 
 
{% endblock %}

{% block scripts %}
{{super()}}

<script>
    function setVideoStyle() {

        // 初始化视频播放器
        const player = new Plyr(' .play video', {
            // 自定义控件
            controls: [
                'play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen'
            ],

            // 设置全屏模式选项
            fullscreen: {
                enabled: true,
                fallback: true,

                iosNative: true
            },
            autoplay: [true],
            title: document.title // 设置视频标题
        });

    }
    setVideoStyle()

</script>


<script>
     previewsDict = JSON.parse(localStorage.getItem('preLink'));
        if (previewsDict) {
          previewsList = previewsDict['index']
          previewsDictName = previewsDict['name']
          previewsDictLink = previewsDict['link']
        }

    //   播放页滑动播放
 
    // 获取id
    // 获取文件自动播放 设置id
    let file = $('#play').children()[0]
    let tagname = file.tagName
    if (tagname === 'VIDEO' || tagname === 'AUDIO')
        file.play()
     // 高度为一屏幕
    file.height = window.innerHeight;

    let id = getId(location.href)
    // 提供链接
    let target = document.querySelector('#detail')
    target.href = '/detail/' + id
    target.style.color='wthite'
 
    // 停止默认滑动效果
    // document.body.addEventListener('touchmove', function (e) {
    //     e.preventDefault();
    // }, { passive: false });

    // 选项决定切换
    function swithchhandler(direction){
        id = ReId.exec(file.src)[0]
        let index = previewsList.indexOf(id)
        pid = previewsSecureId(index - 1,previewsList)
        nid = previewsSecureId(index + 1,previewsList)

        switch (direction) {
            case 'down':
                id = nid
                break;
            case 'up':
                id = pid
                break;
            default:
                return
        }
        file.src = '/file/' + id
        file.scrollIntoView()
        target.href = '/detail/' + id
        newUrl = window.location.origin + '/play/' + id
        history.pushState('', '', newUrl);
         
       
        // document.title= previewsDictName[previewsList[index]]
    }
    // 自动下一个
    file.addEventListener('ended', () => { swithchhandler('down') })
    // 点击播放
    // file.addEventListener('click',()=>{
    //     if(file.paused)
    //     file.play()
    //     else
    //     file.pause()
    // })
    //手指离开屏幕
    const swipeHandler = new SwipeHandler(swithchhandler); // 创建一个滑动事件处理类的实例对象
    // document.addEventListener("touchend", function (e) {
    //     let direction = swipeHandler.now();
    //     swithchhandler(direction)

    // }, false);
    // 滑动结束
    const mouseDragDirectionTracker = new MouseDragDirectionTracker();
     document.addEventListener('mouseup', ()=>{
        let direction=mouseDragDirectionTracker.getDirection()
        swithchhandler(direction)

     });

 
     ntouchEvent(3,document.querySelector('video'),()=>{location.href='/detail/'+id})
     //  多次触摸切换
nclickEvent(2,document.querySelector('video'),()=>{
    var y = event.touches[0].clientX / window.screen.width; 
        if (y>0.5)
        swithchhandler('up')
        else
        swithchhandler('down')
})
 

</script>
{% endblock %}
